.Contact {
  height: 100vh;
  font-size: 1.3rem;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 50% 52%, 0 40%);
  background-color: #dddddd;
}

.Contact .container {
  flex-direction: column;
}

.contact-form {
  width: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-name,
.contact-email,
.contact-message {
  font-size: 1.1rem;
  padding: 5px 10px;
  border: 0;
  border: 2px solid #333333;
  margin: 5px 0 10px;
}

.contact-name,
.contact-email {
  width: 49%;
}

.contact-message {
  resize: vertical;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
}

.contact-submit {
  margin: 5px auto;
  font-size: 1.1rem;
  font-weight: 700;
  width: 50%;
  padding: 0.5rem;
  border: 2px solid #333333;
  background-color: #eeeeee;
  transition: 300ms ease-in-out;
}

.contact-submit:hover {
  background-color: #333333;
  color: #ffffff;
}
