.Projects {
  font-size: 1.3rem;
  background-color: #dddddd;
  height: 100%;
  min-height: 100vh;
}

.Projects .container {
  flex-direction: column;
}

.Projects .cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
